    *{box-sizing: border-box;}
    body{margin: 0px;font-size: 100%;font-family: calibri, sans-serif;background-color: rgb(241, 239, 239);}
    img{max-width: 100%;height: auto;}
    .link{display: flex; flex-wrap: nowrap;border-bottom: 2px solid navy;}
    .first{flex: 100%;}
    .start{flex: 100%;}
    .link a{color: navy;padding: 10px;text-decoration: none;}
    .link a:hover:not(.first){background-color: rgb(36, 192, 36);color: white;}
    .section{display: flex;background-color: rgb(247, 244, 244);margin: 0px 30px;}
    .section1{flex: 70%;padding: 15px;}
    .section1 > h1{color: rgb(36, 192, 36);font-weight: bolder;}
    .section1 > h3{color: rgb(2, 2, 46);}
    a.click{display: inline-block;text-decoration: none;background-color: rgb(36, 192, 36);padding: 5px 10px;color: white;border-radius: 5px;border: none;transition: all 0.5s;font-size: 30px;}
    a.click:hover{background-color: orange;}
    .section2{flex: 30%;}
    .article{display: flex;text-align: center;}
    .article1{flex: 100%;padding: 15px;}
    h1.work{color: rgb(36, 192, 36);}
    .side{display: flex;text-align: center;}
    .side1,.side2,.side3{flex: 100%;padding: 15px;}
    p.word
    a.button{display: inline-block;text-decoration: none;color: rgb(36, 192, 36);font-size: 1.5em;}
    a.button:hover{text-decoration: underline;}
    .note{display: flex;background-color: rgb(36, 192, 36);}
    .note1,.note2,.note3,.note4{flex: 100%;padding: 15px;}
    p.foot{font-size: large;font-weight: bold;color: white;}
    .footer{display: flex;background-color: navy;}
    .footer1{flex: 100%;padding: 15px;}
    .footer1 > p{color: white;font-size: larger;}
    .head+div{text-align: left;max-width: 100%;}
    span+span::before{content: "|";}
    /*mobile phone version*/
    @media screen and (max-width: 600px) {
        .section{flex-direction: column;}
        .section2{display: none;}
        .link{flex-direction: column;}
        .side{flex-direction: column;}
        .footer{flex-direction: column;}
        p.foot{font-weight: bold;font-size: small;}
        .work~p{font-size: small;}
    }
    /*tablet version*/
    @media screen and (min-width: 601px) and (max-width: 768px) {
        .section2{display: none;}
        .link{flex-direction: row; flex-wrap: nowrap;}
        .link a{font-size: 0.8em;}
    }