div.one{
    border: 10px solid black;
    padding: 20px;
    width: 50%;
    height: auto;
    background: url('html5.gif') no-repeat;
    background-origin: padding-box;
    background-color: rgb(255, 0, 0,0.3);
    text-shadow: 0 0 5px blue, 0 0 5px green, 3px 3px 5px red;
    box-shadow: 10px 10px 5px grey;
}
       
   body{
        background: url('red\ hood.jpeg') no-repeat center fixed;
        background-size: cover;
    }
        
    .span{
        color: #ff0000;
    }
    input[type=text],input[type=email],input[type=password]{
        width: 130px;
        display: block;
        border: 1px solid silver;
        box-sizing: border-box;
        padding: 4px 10px;
        margin: 8px 0;
        outline: none;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    

    input[type=text]:focus,input[type=email]:focus,input[type=password]:focus{
        width: 100%;
        border: 3px solid #ccc;
    }
    .button{
        background-color: black;
        color: white;
        padding: 12px 20px;
        text-align: center;
        border: none;
        margin: 5px;
        transition: all 0.5s;
        display: inline-block;
        cursor: pointer;
        width: 100px;
        outline: none;
        
    }
    .button span{
        cursor: pointer;
        display: inline-block;
        transition: 0.5s;
        position: relative;
    }
    .button span::after{
        content: "»";
        position: absolute;
        transition: 0.5s;
        opacity: 0;
        top: 0;
        right: -5px;
    }
    .button:hover span{
        padding-right: 10px;
    }
    .button:hover span::after{
        opacity: 1;
        top: 0;

    }
    .button:active{
        outline: 1px solid white;
    }
    
    
    footer{
        text-align: center;
    }
    h1{
       
        max-width:100px;
        background: black;
        color: #ffffff;
        position: relative;
        padding:10px;
       -webkit-animation: anime 5s 1;
        animation: anime 5s 1;
        border-radius:5px;
        text-align: center;
    }
    
    @-webkit-keyframes anime{
        0%	{transform: rotate(0deg);left:0px;}
        25%	{transform: rotate(20deg);left:0px;}
        50%	{transform: rotate(0deg);left:350px;}
        55%	{transform: rotate(0deg);left:350px; background-color: violet;}
        70%	{transform: rotate(0deg);left:350px;background:#1ec7e6;}
        100%{transform: rotate(-360deg);left:0px;}
    }
    
