<!DOCTYPE html>
<html>
    <head>
        <style>
            body {background-color: chocolate;}
            h1 {color: tomato;font-family: cursive; font-size: xx-large;}
            p {color: blue;font-size: 180%; font-family: sans-serif;font-style: italic;}
        </style>
        <body>
            <h1>this is a correctional facility</h1>
            <p>this is meant to rejuvenate the masses</p>
        </body>
    </head>
</html>